# Standard ignores
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf

# Don't store secret keys in version control
secret_keys.py

# Don't store our datastore
*.datastore

# Not until we get a private repo for this
scripts