{% extends "vis_base.html" %}

{% block title %}Column{% endblock %}

{% block graph_script %}
<script src="/static/js/highcharts.js"></script>
<script>
var chart;
var log = {{log5m|tojson|safe}}; // log[index].value
var logSize = log.length;
var year = {{year}};
var month = {{month}};
var day = {{day}};

var dataArr = [];

for(var i = 0; i < logSize; i++) {
	var hourStr = (log[i].time).slice(0,2);
	var minuteStr = (log[i].time).slice(3,5);
	var hour, minute;
	
	if(hourStr.charAt(0) == "0") hour = parseInt(hourStr.charAt(1));
	else hour = parseInt(hourStr);
	
	if(minuteStr.charAt(0) == "0") minute = parseInt(minuteStr.charAt(1));
	else minute = parseInt(minuteStr);
	
	var newDate = Date.UTC(year, month, day, hour, minute);
	
	dataArr.push([newDate, log[i].value]);
}

$(document).ready(function() {
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'graph',
			defaultSeriesType: 'column',
			backgroundColor: '#000000'
		},
		colors: [
			'#7EE01B'
		],
		xAxis: {
			type: 'datetime',
			
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Step count'
			},
			gridLineWidth: 0
		},
		legend: {
			enabled: false
		},
		credits: {
			enabled: false
		},
		title: {
			text: ""
		},
		tooltip: {
			formatter: function() {
				return ''+
				new Date(this.x).getHours() +':' + new Date(this.x).getMinutes() + " "+ this.y +' steps';
			}
		},
		plotOptions: {
			column: {
				pointPadding: 0.2,
				borderWidth: 0
			}
		},
		series: [{
			data: dataArr
		}]
		});


	});
	</script>
{% endblock %}