{% extends "vis_base.html" %}

{% block title %}Flora{% endblock %}

{% block graph_script %}
<script>
window.onload = function() {
	var log = {{log5m|tojson|safe}}; // log[index].value
	var size = log.length
	// init variables needed for flora
	var i = 0;
	var floraArray = [];
	var totalR = 0;
	var speed = 0;
	setInterval(update,speed);

	function update() {
		if(i != size) {
			time.attr("text",log[i].time);
			
			// set up new circle
			var radius = log[i].value*(wh/30000)+totalR;
			var color = setColor(log[i].value);

			// draw circle and add it to floraArray
			if (log[i].value > 0) {
				var circle = paper.circle(ww/2,wh/2,radius);
				circle.attr({"stroke-width":0, "stroke":"none", "fill":color, "fill-opacity":0.9});
				circle.toBack();
			}
			
			// make circles shimmer (oscillate between starting color and other range values)
			// rounded edges based on speed
			// fade at night, or other transient animation
			
			totalR = radius;
			i++;
		}
	}
}
</script>
{% endblock %}