{% extends "base.html" %}
{% block style_block %}
{% if not ts %}
<link href="/static/css/home.css" rel="stylesheet">
{% else %}
<link href="/static/css/home2.css" rel="stylesheet">
{% endif %}
{% endblock %}

{% block content %}

{% if not ts %}
<!-- Logged out -->
<div class="hero-unit">
	<h1>✼</h1>
	<p class="aboutspark">Spark visualizes your Fitbit data to give you a beautiful view of your physical activity.</p>
	<!-- <p><a class="btn default large">Start &raquo;</a></p> -->
	<p class="small">Spark is currently in alpha and will open to the public soon.</p>
</div>
{% else %}
<!-- Logged in -->
<div class="row">
	<div span="12">
		<h2>Choose a visualization</h2>
		<ul class="thumbnails">
			<li class="span3"><a href="/spiral" class="thumbnail"><img src="/static/img/spiral.png"></a></li>
			<li class="span3"><a href="/flora" class="thumbnail"><img src="/static/img/flora.png"></a></li>
			<li class="span3"><a href="/bucket" class="thumbnail"><img src="/static/img/bucket.png"></a></li>
			<li class="span3"><a href="/pollock" class="thumbnail"><img src="/static/img/pollock.png"></a></li>
		</ul>
		
		<hr>
		
		<ul class="thumbnails">
			<li class="span3"><a href="/column" class="thumbnail"><img src="/static/img/column.png"></a></li>
		</ul>
	</div>
</div>
{% endif %}

{% endblock %}