{% extends "base.html" %}
{% block style_block %}
{% if not ts %}
<link href="/static/css/home.css" rel="stylesheet">
{% else %}
<link href="/static/css/home2.css" rel="stylesheet">
{% endif %}
{% endblock %}

{% block content %}

{% if not ts %}
<!-- Logged out -->
<div class="hero-unit">
	<h1>✼</h1>
	<p class="aboutspark">Spark visualizes your Fitbit data to give you a beautiful view of your physical activity.</p>
	<p><a class="btn default large" href="/fitbit/auth">Sign up &raquo;</a></p>
	<p class="small">Log in with Google to connect to Fitbit</p>
</div>
{% else %}
<!-- Logged in -->
<div class="row">
	<h2>Choose a visualization</h2>
	<ul class="media-grid">
		<li><a href="/spiral"><img class="thumbnail" src="static/img/spiral.png"></a></li>
		<li><a href="/flora"><img class="thumbnail" src="static/img/flora.png"></a></li>
		<li><a href="#"><img class="thumbnail" src="static/img/bucket.png"></a></li>
	</ul>
</div>
{% endif %}

{% endblock %}