{% extends "base.html" %}

{% block content %}
<h1>Skritter iPhone App Development Time</h1>
<p>So as to give myself a better feedback loop on how much time I manage to get in working on the Skritter iPhone/iPad/iPod app, I made this graph to pull in my iOS dev time from my Google spreadsheet. In July, I estimated I'd need 600 hours total dev time to finish, which I'd hit by November if I pulled 4-5 hours a day.
</p>
<div id="ios_hours_worked" style="float: left; width: 430px; margin-right: 30px;"></div>
<div id="total_hours_worked" style="float: left; width: 430px;"></div>
<div id="ios_lines_of_code" style="float: left; width: 430px;"></div>
<div class="clearfix"></div>
<div id="tracklog"></div>
{% endblock %}

{% block footer_script %}
{{super()}}
<script src="/static/js/dygraph-combined.js"></script>
<script src="/static/js/raphael-min.js"></script>
<script src="/static/js/tracklog.js"></script>
{% endblock %}

{% block onload %}
var hours_csv = "Date,iOS Hours Worked,Overall Hours Worked\n" + "{% for date, hours, normal_hours in ios_hours_worked %}{{date.strftime('%Y-%m-%d')}},{{hours}},{{normal_hours}}\n{% endfor %}";

var ios_hours_graph = new Dygraph(
  $('#ios_hours_worked')[0],
  hours_csv,
  {
    dateWindow: [{{hourly_range_start}}, {{now}}],
    drawPoints: false,
    stepPlot: true,
    fillGraph: true,
    colors: ['#4ABA58', '#CCDDEE'],
    fillAlpha: 0.7,
    valueRange: [0, 12.1]
  }
);

var total_csv = "Date,Total Hours\n" + "{% for date, hours in total_ios_hours_worked %}{{date.strftime('%Y-%m-%d')}},{{hours}}\n{% endfor %}";

var total_hours_graph = new Dygraph(
  $('#total_hours_worked')[0],
  total_csv,
  {
    drawPoints: false,
    fillGraph: true,
    stepPlot: false,
    colors: ['#28AE38'],
    fillAlpha: 0.6,
    valueRange: [0, 601],
    dateWindow: [new Date(2010, 10, 1), new Date(2011, 12, 31)]
  }
);

var lines_of_code_graph = new Dygraph(
  $('#ios_lines_of_code')[0],
  '/static/js/ios_loc_report.csv',
  {
    drawPoints: false,
    fillGraph: true,
    stepPlot: false,
    colors: ['#28AE38'],
    fillAlpha: 0.6,
    valueRange: [0, 30001],
    visibility: [true, true, true],
    dateWindow: [new Date(2010, 10, 1), new Date(2011, 12, 31)]
  }
);
{% endblock %}
