{% extends "vis_base.html" %}

{% block title %}Rings{% endblock %}

{% block graph_script %}
<script>
window.onload = function() {
	log = {{log5m|tojson|safe}};
	logSize = log.length;
	calculateTotalSteps(log);
	
	// init variables needed for rings
	var i = 0;
	var ringsArray = [];
	var totalRadius = 0;
	setInterval(update,speedOfAnimation);
	if({{isToday}} == true) {
		setInterval(updateLog, 60000);
	}
	
	var mouseX;
	var mouseY;
	
	// get mouse location
	$("#graph").mousemove(function(e) {
		mouseX = e.pageX - this.offsetLeft;
		mouseY = e.pageY - this.offsetTop;
	});

	function update() {
		if(i != logSize) {
			time.attr("text",log[i].time);
			
			// set up new circle
			var radius = log[i].value*(divHeight/40000)+totalRadius;
			var color = setColor(log[i].value);

			// draw circle and add it to ringsArray
			if (log[i].value > 0) {
				var circle = paper.circle(divWidth/2,divHeight/2,radius);
				circle.attr({"stroke-width":0, "stroke":"none", "fill":color, "fill-opacity":0.9});
				circle.toBack();
				
				// add labels
				var timeLabel = paper.text(divWidth/2, divHeight/2, (log[i].time).slice(0,5));
				timeLabel.attr({fill: "#fff", "font-size":"14px"}).hide();
				
				var valueLabel = paper.text(mouseX, mouseY, log[i].value);
				valueLabel.attr({fill: "#fff"}).hide();
				circle.mouseover(function() {
					valueLabel.attr({x: mouseX, y: mouseY-5});
				})
				
				var interactiveElements = [circle,valueLabel];
				createInteraction(interactiveElements, timeLabel, valueLabel);

			}
			
			// make circles shimmer (oscillate between starting color and other range values)
			// rounded edges based on speed
			// fade at night, or other transient animation
			
			totalRadius = radius;
			i++;
		}
	}
}
</script>
{% endblock %}