{% extends "demo_base.html" %}

{% block content %}
<div class="row">
	<div class="span8">
		<h2><a href="{{prev_url}}">&laquo;</a> {{date}} <a href="{{next_url}}">&raquo;</a></h2>
	</div>
	<div class="span4 linkback">
		<a href="/">&larr; Choose another visualization</a>
	</div>
</div>
<h1>{{total}}<small> total steps</small></h1>

<div id="graph"></div>
{% endblock %}

{% block footer_script %}
<script>
	if({{isToday}} == true) {
		setTimeout("location.reload(true);",300000);
	}
</script>
<script src="/static/js/raphael-min.js"></script>
<script src="/static/js/popup.js"></script>
<script src="/static/js/graphsetup.js"></script>
{% block graph_script %}
{% endblock %}
{% endblock %}