.content {
	background-image:url('../img/bg-spark.png');
	background-repeat:no-repeat;
	height:788px;
}
.hero-unit {
	text-align:center;
	background:none;
}

.hero-unit h1 {
	margin-top:50px;
	margin-bottom:30px;
}

p.aboutspark {
	margin-bottom:60px;
	font-size:1.8em;
}

p.small {
	font-size:1em;
}

footer {
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    bottom:0px;
    width:940px;
	border-top:0px;
	color:#555;
}