body {
    padding-top: 60px;
    background:#000;
    color:#fff;
}

.footer {
    text-align:center;
    border-top:1px solid #222;
    margin-top: 45px;
    padding: 35px 0 36px;
}

h1, h2, h3, h4, h5, h6 {
    color:#fff;
}

a {
    color:#FFBF00;
}

a:hover {
    color:#FF9100;
    text-decoration:none;
}

.features {
    padding-left:20px;
}

.planned {
    color:#888;
}